@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  opacity: 0;
  transform: translateY(100%);
}

.group:hover .overlay {
  animation: slideInUp 0.6s forwards;
}

.overlay-text {
  opacity: 0; /* Ensure the text is initially invisible */
  transition: opacity 0.5s ease-in-out 0.5s; /* Delay text fade-in */
}

.group:hover .overlay-text {
  opacity: 1; /* Fade in the text on hover */
}

/* Reset animations on mouse leave */
.group:not(:hover) .overlay {
  opacity: 0;
  transform: translateY(100%);
  animation: none;
}

.group:not(:hover) .overlay-text {
  opacity: 0;
  animation: none;
}
