@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  /* background: #e5e7eb;*/
  /*background: #f6f6f6;*/

  /* background: radial-gradient(
    600px at 1414px 626px,
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
  */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

textarea:focus ~ .input-text,
textarea:not(:placeholder-shown) ~ .input-text {
  @apply text-slate-200 transform -translate-y-[3.1rem] sm:-translate-y-[3.1rem] lg:-translate-y-[3.9rem] -translate-x-7 scale-75;
}

input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text {
  @apply text-slate-200 transform -translate-y-11 -translate-x-7 scale-75;
}
