name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@3a0024f0665291c8c6c9957134b033a5e639e837
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium firefox
      - name: Build the project
        run: pnpm build
      - name: Start the application
        run: pnpm start &
      - name: Wait for the application to be ready
        run: |
          npx wait-on http://localhost:3000
      - name: Run Playwright tests
        run: pnpm exec playwright test
      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
